@{
    ViewData["Title"] = "За системата";
}

<div class="max-w-4xl mx-auto px-6 py-10 bg-white rounded-lg shadow-md">
    <h1 class="text-3xl font-bold text-center text-blue-600 mb-8">Добре дошли в Системата за управление на училищната администрация.</h1>
    <h2 class="text-3xl font-bold text-center text-blue-600 mb-8">"За системата"</h2>
    <br />
    <hr class="mb-6" />

    <section class="mb-10">
        <h2 class="text-2xl font-semibold text-gray-800 mb-4">Какво представлява системата?</h2>
        <p class="text-gray-700 leading-relaxed">
            Системата за управление на училищната администрация е създадена, за да улесни управлението на училищната администрация, в частност - извинителните бележки по семейни причини.
            Тя предоставя интуитивен интерфейс за управление на потребители, проследяване на отсъствия и достъп до отчети.
            Основната цел е да се автоматизират административните задачи и да се подобри достъпа до информация за всички участници.
        </p>
    </section>

    <section class="mb-10">
        <br />
        <hr class="mb-6" />
        <h2 class="text-2xl font-semibold text-gray-800 mb-4">Как да използвате системата?</h2>

        <div class="mb-6">
            <h3 class="text-xl font-semibold text-red-600 mb-2 font-bold">За Администратори</h3>
            <ul class="list-disc pl-6 text-gray-700 leading-relaxed">
                <li>Добавяйте и управлявайте потребители (учители).</li>
                <li>Импортирайте данни чрез CSV файлове за ученици, учители и класове.</li>
                <li>Преглеждайте и генерирайте отчети за отсъствия, оценки и други административни данни.</li>
                <li>Конфигурирайте системата и настройките за потребителски роли и права.</li>
            </ul>
        </div>

        <div class="mb-6">
            <h3 class="text-xl font-semibold text-blue-600 mb-2 font-bold">За Учители</h3>
            <ul class="list-disc pl-6 text-gray-700 leading-relaxed">
                <li>Проследявайте и управлявайте заявленията на вашите ученици.</li>
                <li>Преглеждайте информация за учениците и техните оценки.</li>
                <li>Генерирайте отчети за отсъствия.</li>
            </ul>
        </div>
    </section>

    <footer class="text-center mt-10">
        <p class="text-gray-600 text-sm">
            Това е система, създадена с цел да улесни комуникацията и управлението в училищната среда.
            За въпроси и предложения, моля, свържете се с администрацията.
        </p>
    </footer>
</div>