@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Достъпът е отказан";
}

<header class="flex flex-col items-center justify-center min-h-screen text-center">
    <h1 class="text-5xl text-red-700 font-bold mb-2">Достъпът е отказан!</h1>
    <h2 class="text-3xl text-red-600 font-bold mb-4">Нямате права за достъп до тази страница.</h2>
    <h3 class="text-xl text-gray-700 font-bold mb-8">Моля, свържете се с администратора, ако смятате, че това е грешка.</h3>

    <a href="/" class="text-lg font-bold text-blue-600 hover:underline mt-8">⬅ Върнете се към началната страница</a>
</header>

